body {
    background-color: navy;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VD3_AF7De/beautiful-marine-background-underwater-scene-with-light-rays-hd-1080_ndjxu5-cl__F0011.png");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    siz: ;
    height: auto;
}

h1 {
    line-height: 3px;
}

