body {
    background-color: navy;
    background-image: url(../img/fundoomar.png);
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 50px;
    font-family: 'Arvo', Arial, Helvetica, sans-serif;
    color: white;
}

h1 { 
    color: white;
    text-transform: uppercase; 
}

hr {
    width: 200px;
}

img {
    width: 400px;
}

a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px;
}

